@use "../globals" as *;
.login-page {
  width: 100vw;
  height: 100vh;
}
.login-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url("/159Z_2107.w026.n002.628B.p1.628.jpg");
  background-size: cover;
  padding: 30px;
  @include respond-to(lg) {
    padding: 10px;
  }
  @include respond-to(sm) {
    padding: 0;
  }
}
.login-page-content {
  width: 90%;
  height: 90%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  @include respond-to(sm) {
    width: 100%;
    height: 100%;
    padding: 0;
  }
}
.login-internal {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  @include respond-to(sm) {
    border-radius: 0;
  }
  .return_toHome {
    padding-left: "50px";
    @include respond-to(sm) {
      padding-left: 0px;
    }
  }
}
.decorImage {
  width: 40%;
  height: 85%;
  position: absolute;
  right: 6.5%;
  max-height: fit-content;
  @include respond-to(sm) {
    display: none;
  }
  img {
    padding: 10px;
    border-radius: 0 20px 20px 0;
  }
}
.register-form {
  .submitButton {
    background-color: $primary-color;
  }
@include respond-to(sm) {
    width: 100%;
  }
}
.login-form {
  @include respond-to(sm) {
    width: 100%;
  }
}
