@use "../globals" as *;

.BaseButton {
  background: $primary-color;

  &:hover {
    background: $gradient-primary;
    color: white;
  }
}

.dark {
  input {
    background-color: black;
  }
}

.light {
  input {
    background-color: white;
  }
}